/* @import 'tailwindcss'; */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

input:not([type="submit"]) {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 8px 0;
}

.login {
    float: right;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px 40px;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}